html {
    overflow-x: hidden;
}

.frontpage {
    overflow: hidden;
}

:root {
    --main: #d5627b;
    --accent: #d4133d;
    --grad: linear-gradient(358.31deg, #9a0022 1.44%, #d4133d 98.56%);
}

.locked {
    overflow: hidden;
}

body {
    overflow-x: hidden;
    font-family: Gilroy, sans-serif;
    background: #f1f1f1;
}

%sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
