<dialog class="modal" id="videoModal">

    <div class="modal__content">
        <iframe width="560" height="315" src="" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>

</dialog>

<dialog class="modal" id="signupModal">

    <div class="modal__wrap">

        <form class="modal__content" data-form>

            <span class="modal__close">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.5">
                        <path d="M1 1L17 17" stroke="#232953" stroke-width="2" stroke-linecap="round" />
                        <path d="M17 1L1 17" stroke="#232953" stroke-width="2" stroke-linecap="round" />
                    </g>
                </svg>
            </span>

            <div class="modal__heading">
                Запись на консультацию
            </div>

            <div class="modal__forms-wrap">

                {{> ./form/input name="Имя" required=true class="modal__input" label="Имя" placeholder="Введите ваше имя"
                options='1, 2'}}

                {{> ./form/input name="Телефон" required=true class="modal__input" type='tel' label="Телефон" placeholder="Введите ваш телефон"
                options='1, 2'}}

            </div>

            {{> ./form/textarea name="Комментарий" class="modal__textarea" label="Комментарий" placeholder="Оставьте ваш комментарий"
            options='1, 2'}}

            <button class="modal__btn">
                Оставить заявку
            </button>

        </form>

    </div>

</dialog>

<dialog class="modal" id="modal-success">
    <div class="modal__content">
        <div class="modal__body">
            Спасибо! Ваша заявка отправлена
        </div>
    </div>
</dialog>

<dialog class="modal" id="modal-error">
    <div class="modal__content">
        <div class="modal__body">
            Произошла ошибка. Попробуйте позже
        </div>
    </div>
</dialog>

<footer class='footer'>

    <div class="footer__wrap">

        <div class="container">

            <div class="footer__content">

                <a href="/" class="footer__logo">

                    <span class="footer__logo-img">
                        <img width="140" height="34" src="@assets/img/logo.png" alt="Кешава Ипек">
                    </span>

                </a>

                <div class="footer__policies">

                    <a href="">Пользовательское соглашение</a>

                    <a href="policy.pdf">Политика конфиденциальности</a>

                </div>

                {{> socials }}

            </div>

        </div>

    </div>

</footer>

</body>

</html>