<dialog class="modal" id="videoModal">

    <div class="modal__content">
        <iframe width="560" height="315" src=""
            title="YouTube video player" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>

</dialog>

<footer class='footer'>

    <div class="footer__wrap">

        <div class="container">

            <div class="footer__content">

                <a href="/" class="footer__logo">

                    <span class="footer__logo-img">
                        <img src="@assets/img/logo.png" alt="">
                    </span>

                </a>

                <div class="footer__policies">

                    <a href="">Пользовательское соглашение</a>

                    <a href="policy.pdf">Политика конфиденциальности</a>

                </div>

                {{> socials }}

            </div>

        </div>

    </div>

</footer>

</body>

</html>