<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <title>
        {{ title }}
    </title>
</head>

<body>

    <header class="header">

        <div class="header__mobile-menu mobile-menu">

            <ul class="mobile-menu__list">

                <li class="mobile-menu__item">
                    <a href="" class="mobile-menu__link">
                        Наставничества
                    </a>
                </li>

                <li class="mobile-menu__item">
                    <a href="" class="mobile-menu__link">
                        Персональная консультация
                    </a>
                </li>

                <li class="mobile-menu__item">
                    <a href="" class="mobile-menu__link">
                        Отзывы
                    </a>
                </li>

                <li class="mobile-menu__item">
                    <a href="" class="mobile-menu__link">
                        О наставнике
                    </a>
                </li>

            </ul>

        </div>

        <div class="header__wrap">

            <div class="container">

                <div class="header__topbar">

                    <a href="" class="header__logo">

                        <div class="header__logo-img">
                            <img src="@assets/img/header-logo.svg" alt="">
                        </div>

                        <span class="header__logo-text">
                            Ваш персональный <span>наставник духовного развития</span>
                        </span>

                    </a>

                    <div class="header__btn-wrap">

                        <button class="header__menu-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>

                    </div>

                    <div class="header__header-menu header-menu">

                        <ul class="header-menu__list">

                            <li class="header-menu__item">
                                <a href="" class="header-menu__link">
                                    Наставничества
                                </a>
                            </li>

                            <li class="header-menu__item">
                                <a href="" class="header-menu__link">
                                    Персональная консультация
                                </a>
                            </li>

                            <li class="header-menu__item">
                                <a href="" class="header-menu__link">
                                    Отзывы
                                </a>
                            </li>

                            <li class="header-menu__item">
                                <a href="" class="header-menu__link">
                                    О наставнике
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div class="header__header-socials header-socials">

                        <ul class="header-socials__list">

                            <li class="header-socials__item">

                                <a href="" class="header-socials__link">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.9008 0.94208C10.8563 0.953799 10.3125 1.15771 9.69375 1.39442C9.07266 1.63114 6.75235 2.51708 4.53516 3.36317C2.31797 4.20927 0.452348 4.9288 0.391411 4.96396C0.241411 5.04599 0.100786 5.18427 0.0445357 5.3038C-0.0117143 5.43271 -0.014058 5.65302 0.0445357 5.77724C0.103129 5.90614 0.297661 6.07489 0.473442 6.14989C0.555473 6.18505 1.09922 6.34911 1.68516 6.51552C2.26875 6.68192 2.75157 6.82255 2.75391 6.82489C2.75625 6.82958 3.01875 7.57958 3.3375 8.49599C3.65625 9.41005 3.94688 10.2116 3.97969 10.2749C4.08516 10.4694 4.22813 10.6077 4.42266 10.7038C4.58438 10.7835 4.61485 10.7905 4.80235 10.7905C5.04141 10.7905 5.2125 10.7366 5.39766 10.603C5.46563 10.5538 5.8125 10.2444 6.1711 9.9163C6.52969 9.58583 6.82969 9.31396 6.83907 9.31161C6.84844 9.30693 7.29375 9.65849 7.82813 10.0897C8.50078 10.6335 8.85235 10.9007 8.96485 10.9569C9.36329 11.1561 9.76641 11.0976 10.0453 10.7999C10.2633 10.5679 10.2141 10.7765 11.1469 6.17099C11.9953 1.99208 12.0023 1.95458 11.9953 1.71083C11.9883 1.48349 11.9813 1.45302 11.9063 1.31708C11.7539 1.03349 11.5359 0.911612 11.1844 0.9163C11.0719 0.9163 10.943 0.928019 10.9008 0.94208ZM11.2734 1.76708C11.2734 1.88661 9.62578 10.0476 9.57188 10.1905C9.55079 10.2468 9.5086 10.3077 9.47813 10.3288C9.42422 10.3616 9.41485 10.3616 9.30938 10.3101C9.24844 10.2796 8.43516 9.63739 7.5 8.88505C6.56485 8.13271 5.79844 7.5163 5.79844 7.51396C5.7961 7.51161 6.62344 6.63036 7.63829 5.54989C8.65547 4.47177 9.49922 3.55771 9.51563 3.51786C9.55782 3.41239 9.53438 3.25068 9.45938 3.15458C9.38907 3.05849 9.26719 3.01396 9.13125 3.03036C9.06563 3.03739 8.55235 3.28818 7.5 3.82489C3.64454 5.79833 3.01875 6.11708 2.99297 6.11708C2.95079 6.11943 0.937504 5.54521 0.937504 5.53114C0.937504 5.52411 2.1586 5.05302 3.65157 4.48349C5.14219 3.91396 7.41797 3.04443 8.70704 2.55224C9.9961 2.06005 11.0836 1.64989 11.1211 1.64052C11.2313 1.61474 11.2734 1.64989 11.2734 1.76708ZM7.37813 4.75068C7.34532 4.78818 6.78985 5.38114 6.14063 6.07021C5.49375 6.75693 4.94766 7.35458 4.93125 7.39442C4.9125 7.43193 4.79766 7.87489 4.67579 8.3788C4.55157 8.88036 4.44375 9.31161 4.43438 9.33505C4.42266 9.36083 4.26563 8.9413 3.94922 8.03427C3.69375 7.29833 3.49219 6.6913 3.50391 6.68661C3.51797 6.68192 4.40391 6.23193 5.47266 5.68349C6.54375 5.13739 7.42266 4.68974 7.42735 4.68739C7.43438 4.68739 7.41094 4.71552 7.37813 4.75068ZM5.86641 8.51005C6.075 8.67646 6.24844 8.82177 6.25079 8.83114C6.25313 8.84052 5.97891 9.10067 5.64375 9.40771C5.3086 9.71474 5.03907 9.94677 5.0461 9.92333C5.05313 9.89989 5.15157 9.50146 5.26407 9.03974C5.37891 8.58036 5.475 8.20302 5.47969 8.20302C5.48438 8.20302 5.65782 8.3413 5.86641 8.51005Z"
                                            fill="#C5425E" />
                                    </svg>
                                </a>
                            </li>

                            <li class="header-socials__item">
                                <a href="" class="header-socials__link">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M2.82431 0.0140619C2.79853 0.0210934 2.69306 0.0421867 2.58994 0.0609369C1.48838 0.269531 0.536815 1.10859 0.168846 2.19141C0.00243988 2.68125 0.0118149 2.44687 0.0118149 6C0.0118149 9 0.0141586 9.21094 0.0540024 9.39844C0.330565 10.6945 1.30556 11.6695 2.60166 11.9461C2.78916 11.9859 3.0001 11.9883 6.0001 11.9883C9.0001 11.9883 9.21103 11.9859 9.39853 11.9461C10.6946 11.6695 11.6696 10.6945 11.9462 9.39844C11.986 9.21094 11.9884 9 11.9884 6C11.9884 3 11.986 2.78906 11.9462 2.60156C11.7024 1.45547 10.8962 0.536718 9.80869 0.16875C9.31885 0.00234318 9.59306 0.0140619 6.05869 0.00937462C4.30556 0.00703049 2.8501 0.00937462 2.82431 0.0140619ZM9.36338 0.789844C10.0267 0.989062 10.5399 1.35703 10.8634 1.86328C11.1142 2.25469 11.2337 2.61094 11.2735 3.08672C11.304 3.45234 11.304 8.54766 11.2735 8.91328C11.2384 9.33281 11.1681 9.57656 10.9735 9.94453C10.6454 10.5703 10.0478 11.032 9.33525 11.2125C9.05166 11.2852 8.62978 11.2969 6.0001 11.2969C3.37041 11.2969 2.94853 11.2852 2.66494 11.2125C1.72744 10.9758 1.0501 10.2984 0.780565 9.32812C0.740721 9.18516 0.738377 8.99062 0.738377 6C0.738377 3.00937 0.740721 2.81484 0.780565 2.67188C1.02431 1.8 1.59385 1.1625 2.39541 0.867188C2.529 0.820312 2.75869 0.759375 2.87119 0.742969C2.91103 0.738281 4.3501 0.733593 6.07041 0.735937C9.18056 0.740624 9.19931 0.740624 9.36338 0.789844Z"
                                            fill="#C5425E" />
                                        <path
                                            d="M9.06085 1.59384C8.65069 1.72509 8.38819 2.08368 8.38819 2.51493C8.38585 3.07978 8.80304 3.49696 9.36788 3.49462C9.80382 3.49462 10.1601 3.22978 10.2913 2.81493C10.5257 2.0579 9.81554 1.35243 9.06085 1.59384ZM9.5296 2.35321C9.62101 2.44462 9.63507 2.55243 9.56944 2.64853C9.50616 2.73993 9.46397 2.76337 9.35851 2.76571C9.28116 2.76571 9.24601 2.75165 9.18976 2.69306C9.03038 2.53368 9.14288 2.27353 9.37022 2.27353C9.42882 2.27353 9.47101 2.29462 9.5296 2.35321Z"
                                            fill="#C5425E" />
                                        <path
                                            d="M5.46104 2.75147C4.09463 2.99756 3.06104 3.99365 2.77275 5.34365C2.71182 5.62725 2.71182 6.37256 2.77275 6.65615C3.05166 7.95928 4.04072 8.94834 5.34385 9.22725C5.62744 9.28818 6.37275 9.28818 6.65635 9.22725C7.95947 8.94834 8.94854 7.95928 9.22744 6.65615C9.26025 6.50147 9.26963 6.35146 9.26963 5.9999C9.26963 5.496 9.24385 5.31787 9.1126 4.9335C8.74229 3.846 7.82119 3.02803 6.67979 2.77725C6.44072 2.72334 5.70244 2.70928 5.46104 2.75147ZM6.46182 3.48037C7.50479 3.67725 8.32275 4.49521 8.51963 5.53818C8.56416 5.77725 8.56416 6.22256 8.51963 6.46162C8.32275 7.50459 7.50479 8.32256 6.46182 8.51943C6.22275 8.56396 5.77744 8.56396 5.53838 8.51943C4.49541 8.32256 3.67744 7.50459 3.48057 6.46162C3.43604 6.22256 3.43604 5.77725 3.48057 5.53818C3.67744 4.50225 4.48838 3.68662 5.52197 3.48272C5.74463 3.43818 6.23213 3.43818 6.46182 3.48037Z"
                                            fill="#C5425E" />
                                    </svg>

                                </a>
                            </li>

                            <li class="header-socials__item">
                                <a href="" class="header-socials__link">
                                    <svg width="12" height="10" viewBox="0 0 12 10" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.98457 0.478893C3.04004 0.509362 1.97129 0.5703 1.74629 0.605456C1.35489 0.668737 1.0502 0.807018 0.775981 1.05077C0.5627 1.23827 0.443168 1.40467 0.325981 1.66717C0.185356 1.99061 0.100981 2.35858 0.0541059 2.87889C-0.00448788 3.52577 -0.00683163 6.48592 0.0541059 7.13514C0.157231 8.27655 0.454887 8.84842 1.12051 9.18358C1.51895 9.38514 1.97129 9.44139 3.69161 9.49999C5.58536 9.56561 7.52833 9.55389 9.26973 9.46483C10.2799 9.41327 10.4908 9.38046 10.8166 9.22811C11.2807 9.01249 11.5783 8.65624 11.7635 8.10311C11.958 7.52186 11.9885 7.08592 11.9885 4.96483C11.9861 3.62889 11.9791 3.24452 11.9486 2.88827C11.8455 1.74686 11.5713 1.19608 10.9221 0.823425C10.7604 0.732018 10.5119 0.649987 10.2658 0.610144C9.54395 0.490612 5.93926 0.415612 3.98457 0.478893ZM7.88926 1.20311C8.83614 1.23358 9.93301 1.29218 10.1229 1.32264C10.4205 1.36952 10.6924 1.50546 10.8541 1.69061C11.1799 2.06093 11.2807 2.84374 11.2807 5.01171C11.2807 6.42967 11.2338 7.27342 11.133 7.65311C11.0135 8.11483 10.894 8.31405 10.6455 8.4828C10.3877 8.66092 10.2494 8.68436 9.22286 8.73827C7.24239 8.83905 5.33457 8.84374 3.08223 8.74999C1.80489 8.69608 1.46973 8.62342 1.18614 8.33983C0.989262 8.1453 0.846293 7.74452 0.797075 7.26639C0.691606 6.17421 0.691606 3.77421 0.799418 2.74764C0.827543 2.46874 0.914262 2.14296 1.01504 1.92264C1.15567 1.62264 1.44161 1.40936 1.80489 1.33671C1.98536 1.29921 3.00957 1.23827 3.99629 1.20546C4.84239 1.17733 7.06895 1.17733 7.88926 1.20311Z"
                                            fill="#C5425E" />
                                        <path
                                            d="M4.82359 2.9609C4.63375 3.01715 4.51422 3.15778 4.47672 3.36637C4.46031 3.45074 4.45328 4.01559 4.45797 4.96949L4.465 6.44137L4.52359 6.54684C4.61266 6.70387 4.74859 6.78824 4.93141 6.79996C5.06734 6.80934 5.09781 6.80231 5.24547 6.72731C5.58062 6.55621 7.86578 5.32106 7.92672 5.27887C8.01578 5.21324 8.10953 5.01403 8.10953 4.88512C8.10953 4.75621 8.04625 4.61324 7.95484 4.52653C7.88219 4.4609 5.24312 3.01012 5.11187 2.96559C5.02281 2.93512 4.91734 2.93278 4.82359 2.9609ZM6.01422 4.27574C6.46422 4.52184 6.90016 4.75856 6.97984 4.80543L7.12984 4.88746L6.30016 5.33278C5.84547 5.57653 5.40719 5.81324 5.3275 5.85543L5.17984 5.93746V4.88278C5.17984 4.30153 5.18453 3.82809 5.18922 3.82809C5.19391 3.82809 5.56422 4.02965 6.01422 4.27574Z"
                                            fill="#C5425E" />
                                    </svg>

                                </a>
                            </li>



                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </header>