%btn {
    border-radius: rem(14px);
    padding: rem(30px) rem(75px);
    text-decoration: none;
    font-size: rem(16px);
    line-height: rem(18px);
    font-weight: 600;
    background: var(--grad);
    color: #fff;
    box-shadow: 0 rem(4px) 0 0 #6a0017, 0 rem(10px) rem(15px) 0 #6a0017;
    transition: 500ms;
    display: inline-block;

    &:hover {
        box-shadow: 0 rem(4px) 0 0 #6a0017, 0 rem(10px) rem(5px) 0 #6a0017;
        transition: 500ms;
    }

    @include media-breakpoint-down(md) {
        padding: rem(30px) rem(35px);
    }
}
