.about {
    &__wrap {
        position: relative;
        padding-bottom: rem(100px);

        &::after {
            position: absolute;
            content: "";
            width: rem(574px);
            height: rem(631px);
            background-image: url("/src/assets/img/about-bg-1.png");
            bottom: rem(-200px);
            left: rem(0px);
            z-index: -1;
        }

        &::before {
            position: absolute;
            content: "";
            width: rem(396px);
            height: rem(396px);
            background-image: url("/src/assets/img/about-bg-2.png");
            bottom: rem(-60px);
            left: 40%;
            background-size: contain;
            animation: rotate 60s normal linear infinite;
        }
    }

    &__content {
        position: relative;
        display: flex;
        background-color: #fff;
        border-radius: rem(14px);
        padding: rem(70px);
        overflow: hidden;
        box-shadow: 0 rem(20px) rem(20px) 0 rgba(0 0 0 / 2%);
    }

    &__text-content {
        margin-right: 0;
        margin-left: auto;
        max-width: rem(540px);
    }

    &__heading {
        text-align: start;
    }


    &__img-wrap {
        position: relative;
        width: 100%;
        height: rem(633px);

        img {
            height: 100%;
            width: 100%;
        }

        &::before {
            position: absolute;
            content: "";
            width: rem(640px);
            height: rem(640px);
            background-image: url("/src/assets/img/about-img-2.png");
            bottom: rem(-160px);
            left: rem(-80px);
            background-size: contain;
            animation: rotate 60s normal linear infinite;
        }
    }

    &__list {
        @include unlist();

        display: flex;
        flex-direction: column;
        gap: rem(14px);
        list-style: none;
        font-weight: 500;
        padding-left: rem(15px);
    }

    &__item {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: rem(8px);
            height: rem(8px);
            border-radius: 50%;
            background: var(--grad);
            top: rem(5px);
            left: rem(-15px);
        }
    }
}
