.reviews {
    &__wrap {
        position: relative;
        z-index: 6;
        margin-bottom: rem(140px);
        overflow: hidden;

        @include media-breakpoint-down(sm) {
            margin-bottom: rem(60px);
        }
    }

    &__list-wrap {
        @include media-breakpoint-down(sm) {
            overflow: visible;
        }

        &.is-swiping {
            video {
                pointer-events: none;
            }
        }
    }

    &__list {
        @include unlist();

        margin-bottom: rem(30px);
    }

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(10px);
        height: rem(12px);

        .swiper-pagination-bullet {
            width: rem(8px);
            height: rem(8px);
            border-radius: 50%;
            background-color: rgba(103 103 103 / 30%);
            transition: 500ms;

            &:hover {
                background-color: var(--main);
                transition: 500ms;
            }
        }

        .swiper-pagination-bullet-active {
            width: rem(12px);
            height: rem(12px);
            border-radius: 50%;
            background-color: var(--main);
        }
    }
}

.reviews-item {
    &__video {
        border-radius: rem(14px);
        width: 100%;
        max-height: rem(658px);
        object-fit: cover;
    }
}
