.videos {
    &__wrap {
        position: relative;
        z-index: 6;
        margin-bottom: rem(100px);
    }

    &__list {
        @include unlist();

        margin-bottom: rem(30px);
    }

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(10px);

        .swiper-pagination-bullet {
            width: rem(8px);
            height: rem(8px);
            border-radius: 50%;
            background-color: rgba(103 103 103 / 30%);
            transition: 500ms;

            &:hover {
                background-color: var(--main);
                transition: 500ms;
            }
        }

        .swiper-pagination-bullet-active {
            width: rem(12px);
            height: rem(12px);
            border-radius: 50%;
            background-color: var(--main);
        }
    }
}

.videos-item {
    &__img-wrap {
        position: relative;
        border-radius: rem(14px);
        height: rem(200px);
        overflow: hidden;

        @include media-breakpoint-down(lg) {
            height: rem(160px);
        }

        @include media-breakpoint-down(md) {
            height: rem(200px);
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.5;
            position: absolute;
            inset: 0;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__icon {
        display: flex;
        position: absolute;
        width: rem(60px);
        height: rem(60px);
        background: var(--grad);
        border-radius: 50%;
        inset: 0;
        margin: auto;
        z-index: 10;

        svg {
            max-width: 40%;
            max-height: 40%;
            margin: auto;
            transform: translateX(2px);
        }
    }
}
